<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainyShiny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1801900D1E29F3F9009DDD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180190211E29F3FA009DDD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1801902C1E29F3FA009DDD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
